
body {
color: black;
    background-color: white;
    background-image: url(assets/images/Carte1.png);
    /* background-position: center 0%; */
    background-size: cover;
}

div#app {
	width: 30%;
    height: 60%;
    position: relative;
    left: 70%;
    margin-top: 122px;
    padding-right: 22px;
}

div#app > div  {
	padding: 0.5em;
	border-radius: 10px;
	background-color: #0088CE;
	background-image: none;
}

div#app > div > form {
	display: table;
}

div#sam-logo {
      width: 100px;
      height: 100px;
	position: absolute;
	left: 65%;
	bottom: 10%;
	background-image: url('imageTrain/other_img/logo-3-notifs-removebg-preview.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#sam-text {

      width: 300px;
      height: 100px;

	position: absolute;
	left: 73%;
	bottom: 10%;

	cursor: pointer;
}



.speech-bubble {
	position: relative;
	background: white;
	border-radius: .4em;

	padding: 0.5rem ;
}

.speech-bubble h3 {
	margin-top: 0;
}
.speech-bubble p {
	margin-bottom: 0;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

